body{
    color:white;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
}
html{
    background-color:black ;
}
p{
    font-size: small;
    text-align: center;
    background-color:#3E3232;
}
h1 {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 700;
    text-align: center;
    font-size: 70px;
    margin:0;
}
h2 {
    text-align: right;
    background-color:#3E3232;
}
footer{
    text-align: center;
}
li{
    text-align: right;
    direction: rtl;
    margin-right: 20px;
}
img {
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
